#banner_part{
    margin-top: 25px;
}

.banner_img img{
    width: 400px;
    height: 440px;
}
.banner_text{
    padding-left:19px;
    float: right;
    margin-top: 100px;
}
.banner_text h1{
    font-size: 86px;
    font-weight: bold;
}
.banner_text p{
    color: #666666;
    font-size: 16px;
    line-height: 23px;
}
.banner_text a{
    float: right;
    font-size: 16px;
    color: #ba2e1f;
}
.banner_text a:hover{
    text-decoration: none;
    color: #ee802f;
}